<div class="ilTableHeaderTitle">
<h3 class="ilTableHeaderTitle">
<a id="il_table_top" class="ilAccAnchor" name="il_table_top">{TAB_TITLE}</a>
</h3>
</div>
<div class="ilTableOuter">
<table id="troup" class="fullwidth" datatable="1">
<tr class="tblheader">
	<td class="std"></td>
	<td class="std" colspan="2"><!--{PRE_TEST}--></td>
	<td class="std" colspan="4">{FINAL_TEST}</td>
</tr>
<tr class="tblheader">
	<td class="std">{MODULE}</td>
	<td class="std"><!--{DATE}--></td>
	<td class="std"><!--{POINTS}--></td>
	<td class="std">{DATE}</td>
	<td class="std">{POINTS}</td>
	<td class="std">{TRIES}</td>
	<td class="std">{STATUS}</td>
</tr>
<!-- BEGIN row -->
<tr class="tblrow1 small">
	<td class="std">{MOD_IMG} {MOD_TITLE}</td>
	<td class="std"><!--{PRE_DATE}--></td>
	<td class="std"><!--{PRE_POINTS}--></td>
	<td class="std">{FINAL_DATE}</td>
	<td class="std">{FINAL_POINTS}</td>
	<td class="std">{FINAL_TRIES}</td>
	<td class="std">{STATUS}</td>
</tr>
<!-- END row -->
</table>
</div>
